<div class="inner cover">
  <h1 class="cover-heading">Profesora agregada a la <a href="http://www.uab.cat">UAB</a></h1>
  <p class="lead">Àrea de Didàctica de les Ciències Experimentals</p>
  <p class="lead">Despatx: G5-144</p>
  <p class="lead">Telèfon: +34 93 581 32 06</p>

  <h1 class="cover-heading">Directora del <a href="http://www.crecim.cat">Centre per la recerca a
  l'Educacio Cientifíca i Matemàtica</a></h1>
  <p class="lead">Edifici GL, 304. Facultat de Ciències de l’Educació.</p>
  <p class="lead">Telèfon: +34 93 581 44 96</p>

</div>
